<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Philosofound</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <div id="root"></div>
does this work???
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script th:src="@{/static/bundle.js}"></script>
</body>
</html>
